/venv
db.sqlite3
/pro/__pycache__
/polls/__pycache__
/polls/migrations
/finaldata
/notebooks/pinecone.ipynb
.env
db.*
s3-data/
airflow/
__pycache__
aws/
timescale/
utils.py
# Logs
logs/
run.sh
# Temporary files
*.log
*.swp

# IDE-specific files
.vscode/
.idea/
*.pyc
