/venv
.env
db.sqlite3
/pro/__pycache__
/polls/__pycache__
/polls/migrations
/finaldata
/notebooks/pinecone.ipynb
db.*
__pycache__
utils.py
# Logs
logs/
run.sh
# Temporary files
*.log
*.swp
# IDE-specific files
.vscode/
.idea/
*.pyc
